<select class="form-select form-select-sm" style="width:20%" @onchange="HandleFileSelection">
  @if (Racers != null && Racers.Racerlist != null)
  {
    @foreach (var racer in Racers.Racerlist)
    {
      <option value="@racer.Value.Rugnummer">@($"{racer.Value.FirstName} {racer.Value.LastName}")</option>
    }

  }
</select>
@code {
  [Parameter]
  public EventCallback<int> Selected { get; set; }

  Racerlijst Racers = new();


  void HandleFileSelection(ChangeEventArgs e)
  {
    string SeletedItem = e.Value.ToString();
    int x = int.Parse(SeletedItem);
    if (x != null)
    {
      Selected.InvokeAsync(x);
    }
  }

  void FromJson()
  {
    var filename = @"Racerslijst.json";
    if (File.Exists(filename))
    {
      var jsonstring = File.ReadAllText(filename);
      Racers = JsonSerializer.Deserialize<Racerlijst>(jsonstring)!;
    }
  }




  protected override void OnInitialized() => FromJson();



}
