<select @onchange="HandleFileSelection">
  @if (Racers != null && Racers.Racerlist != null)
  {
    @foreach (var racer in Racers.Racerlist)
    {
      <option value="@racer.rug">@($"{racer.FirstName} {racer.LastName}")</option>
    }

  }
</select>
@code {
  [Parameter]
  public EventCallback<Racer> Selected { get; set; }

  Racerlijst Racers = new();


  void HandleFileSelection(ChangeEventArgs e)
  {
    if (e.Value != null && e.Value is Racer selectedRacer)
    {
      Selected.InvokeAsync(selectedRacer);
    }
  }

  void FromJson()
  {
    var filename = @"Racerslijst.json";
    if (File.Exists(filename))
    {
      var jsonstring = File.ReadAllText(filename);
      Racers = JsonSerializer.Deserialize<Racerlijst>(jsonstring)!;
    }
  }




  protected override void OnInitialized() => FromJson();



}
