@page "/Wedstrijden"

<h1>Wedstrijden</h1>
<hr />
<div class="form-group">
  
  <label for="name">Wedstrijd Name</label>
  <input type="text" @bind="@WedstrijdName" class="form-control" placeholder="Wedstrijdnaam" style="width:25%" id="name" />
  <label for="type">Wedstrijd Type</label>
  <select class="form-control" style="width:25%" id="type" @bind="@WedstrijdType">
    <option>-</option>
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
  </select>
  <br />
  <button @onclick="@AddWedstrijd" class="btn btn-primary" style="width:25%">Add Wedstrijd</button>
</div>
<hr />
<h5 style="color:red">@Error</h5>
<button class="btn btn-primary" @onclick="ToJson">Save</button>
<button class="btn btn-primary" @onclick="FromJson">Load</button>
@if (wedstrijdDictonary.Wedstrijden != null)
{
  @foreach (var wedstrijd in wedstrijdDictonary.Wedstrijden)
  {
    <Ski.Components.WedstrijdFormat Wedstrijd0="wedstrijd"/>
  }
}


@code{

  WedstrijdDictonary wedstrijdDictonary = new();


  string? WedstrijdName;
  int? WedstrijdType;
  string? Error;


  void AddWedstrijd()
  {
    if (WedstrijdName != null && WedstrijdType != null)
    {
      Error = "";
      if (wedstrijdDictonary.Wedstrijden == null)
        wedstrijdDictonary.Wedstrijden = new List<Wedstrijd>();

      wedstrijdDictonary.Wedstrijden.Add(new Wedstrijd() { WedstrijdName = WedstrijdName, WedsrijdType = WedstrijdType });
    }
    else
    {
      Error = "Please Fill Everything In";
    }
  }

  void ToJson()
  {
    var SimpleJsonfile = @"Wedstrijden.json";
    var Simplejson = JsonSerializer.Serialize(wedstrijdDictonary);
    File.WriteAllText(SimpleJsonfile, Simplejson);
  }

  void FromJson()
  {
    var filename = @"Wedstrijden.json";
    if (File.Exists(filename))
    {
      var jsonstring = File.ReadAllText(filename);
      if (jsonstring != "")
      {
        wedstrijdDictonary = JsonSerializer.Deserialize<WedstrijdDictonary>(jsonstring)!;
      }
    }
  }
}
